<!DOCTYPE html>

<html>

  <head>
    <title> STORY CREATE PAGE </title>
  </head>

  <body>
    <h1>
      Howdy, friends!
    </h1>


    <h3>
      Enter your desired title and the first entry.
    </h3>
    <form action="/create">
      <input type="text" name="title">
      <input type="text" name="entry">
      <input type="submit" name="sub1">
    </form>
    <br>
    <p>
      Or, you can go back:
  </p>
  <form action="/">
    <input type="submit" name="sub1" value="Back to home">
  </form>
  </body>

</html>
