<!DOCTYPE html>

<html>

  <head>
    <title> HOME PAGE</title>
  </head>

  <body>
    <h1>
      Howdy, friends! You are logged in now! Username: {{ user }}
    </h1>
    <br>
    <h3>
      <form action="/logout">
        <input type="submit" name="sub1" value="Log Out">
      </form>
    </h3>

    <p><br>
      Which story would you like to view?
    </p>
    <!--
      {% for i in stories%}
      <form action="/view">
        <button name="id" type="submit" value={{i[1]}}>{{i[0]}}</button>
      </form>
      {% endfor %}
    --> 
  </body>

</html>
