<!DOCTYPE html>

<html>

  <head>
    <title> SIGNUP PAGE </title>
  </head>

  <body>
    <h1>
      Howdy, friends!
    </h1>


    <h3>
      Enter your desired username and password below to proceed.
    </h3>
    <form action="/signup" method = "post">
      <label for="username">Username:</label>
      <input type="text" name="username"> <br>
      <label for="username">Password:</label>
      <input type="text" name="password"> <br>
      <label for="username">Confirm your Password!:</label>
      <input type="text" name="password2"> <!-- Allows confirmation of password and checking if
      we came from login or signup pages --> <br>
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>
